@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: #e9edc9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    background-color: #6d6875;
    color: #fefae0;
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.forms{
    display: flex;
    flex-direction: column;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forms input{
    padding: 5px;
    
}
.forms input:focus{
    background-color: #faedcd
}

.input-correct{
    background-color: #e9edc9;
}

#submit-btn{
    background: #ccd5ae;
    border: none;
    padding: 4px;
    width: 80px;
    margin: 0 auto;
    margin-top: 40px;
    color: #6d6875;
    font-weight: 700;
    border-radius: 3px;
}
#submit-btn:hover{
    scale: 1.02;
    transition: all 200ms ease-in-out;
    background-color: #e9edc9;
    cursor: pointer;
}

#submit-btn:disabled{
    background-color: #d6ccc2;
    cursor: not-allowed;
}
#submit-btn:disabled:hover{
    scale: 1;
    background-color: #d6ccc2;
    cursor: not-allowed;
}

.error-text{
    color:#fe5e5e;
    font-size: 12px;
}