@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: hwb(67 79% 7%);
    background-image: url('../img/paint-splash-1641998.jpg');
    /* background-size: cover;
    background-position: center; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    /* background-color: rgba(40, 144, 156, 0.8); */
    background-color: rgba(251, 255, 252, 0.21);
    /* background-color: rgba(109, 104, 117, 0.7); */
    color: #fefae0;
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 9px;
}
.container h1{
    text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forms input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.863);
}
.forms input:focus{
    background-color: #fbfaf0;
    border: none;
    color: #470d0d;
}

.input-correct{
    background-color: red;
}

#submit-btn{
    background: #eef3df;
    border: none;
    padding: 4px;
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    color: #6d6875;
    font-weight: 700;
    border-radius: 3px;
}
#submit-btn:hover{
    scale: 1.02;
    transition: all 200ms ease-in-out;
    background-color: #e9edc9;
    cursor: pointer;
}

#submit-btn:disabled{
    background-color: #d6ccc2;
    cursor: not-allowed;
}
#submit-btn:disabled:hover{
    scale: 1;
    background-color: #d6ccc2;
    cursor: not-allowed;
}

.error-text{
    color:#861e1e;
    font-size: 12px;
}